<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <h3>Saldo Actual: {{account?.balance | currency}}</h3>
  <form>
    <div class="form-group">
      <label for="inputDni">Monto</label>
      <input type="text" id="inputDni" class="form-control" placeholder="12.345.678-9" required autofocus
             appDniFormat autocapitalize="off" spellcheck="false" maxlength="12" [(ngModel)]="dniUser" name="dniUser">
    </div>

    <div class="form-group">
      <label for="inputBalance">Monto</label>
      <input type="number" class="form-control" id="inputBalance" placeholder="0" [(ngModel)]="balanceAfter"
             name="balance">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="onTransferBalance()" *ngIf="!isLoading">transferir</button>
  <button class="btn btn-primary" type="button" disabled *ngIf="isLoading">
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Loading...
  </button>
</div>
