<div class="container">
  <div class="row">
    <div class="card col-md-4 mt-5 mx-auto card border-primary">
      <form class="m-2" [formGroup]="authForm" novalidate (ngSubmit)="onSubmitForm()">

        <div class="text-center">
          <img class="mb-4" src="assets/logo/logo-app-banco.png" alt="" width="80" height="80">
          <h1 class="h3 mb-3 fw-normal ">Registro</h1>
        </div>

        <div class="form-group">
          <label for="inputDni" class="visually-hidden">RUT</label>
          <input type="text" id="inputDni" class="form-control" placeholder="12.345.678-9" required autofocus
                 appDniFormat autocapitalize="off" spellcheck="false" maxlength="12" formControlName="dni">

          <div class="alert alert-dismissible alert-danger m-2" *ngIf="dniMessageError">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Error:</strong> {{dniMessageError}}
          </div>
          <div class="alert alert-dismissible alert-danger m-2"
               *ngIf="authForm.controls['dni'].invalid && (authForm.controls['dni'].dirty || authForm.controls['dni'].touched)">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <div *ngIf="authForm.controls['dni'].errors.required">
              El RUT es requerido
            </div>

          </div>
        </div>

        <div class="form-group">
          <label for="inputName" class="visually-hidden">Nombre</label>
          <input type="text" id="inputName" class="form-control" placeholder="Juan Perez" required
                 formControlName="firstName">
          <div class="alert alert-dismissible alert-danger m-2"
               *ngIf="authForm.controls['firstName'].invalid && (authForm.controls['firstName'].dirty || authForm.controls['firstName'].touched)">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <div *ngIf="authForm.controls['firstName'].errors.required">
              El nombre es requerido
            </div>

          </div>
        </div>

        <div class="form-group">
          <label for="inputEmail" class="visually-hidden">Correo Electronico</label>
          <input type="email" id="inputEmail" class="form-control" placeholder="user@domain.com" required
                 formControlName="email">
          <div class="alert alert-dismissible alert-danger m-2"
               *ngIf="authForm.controls['email'].invalid && (authForm.controls['email'].dirty || authForm.controls['email'].touched)">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <div *ngIf="authForm.controls['email'].errors.required">
              El correo electronico es Requerido
            </div>

            <div *ngIf="authForm.controls['email'].errors.pattern">
              Por favor ingrese su dirección de correo electrónico válida
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="inputPassword" class="visually-hidden">Password</label>
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" required
                 formControlName="password">
          <div class="alert alert-dismissible alert-danger m-2"
               *ngIf="authForm.controls['password'].invalid && (authForm.controls['password'].dirty || authForm.controls['password'].touched)">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <div *ngIf="authForm.controls['password'].errors.required">
             La contraseña es requerida
            </div>


          </div>
        </div>


        <div class="form-group">
          <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="!authForm.valid" *ngIf="!isLoading">Registrar</button>
          <button class="w-100 btn btn-lg btn-primary" type="button" disabled *ngIf="isLoading">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
          </button>
        </div>

        <div class="m-2">
          <a routerLink="/auth/login">Volver al inicio de sesión</a>
        </div>
        <p class="mt-5 mb-3 text-muted text-center">{{date | date : 'fullDate'}}</p>
      </form>
    </div>
  </div>
</div>
