<div class="container">
  <div class="row">
    <div class="card col-md-4 mt-5 mx-auto card border-primary">
      <form class="p-2" [formGroup]="authForm" novalidate (ngSubmit)="onSubmitForm()">

        <div class="text-center">
          <img class="mb-4" src="assets/logo/logo-app-banco.png" alt="" width="80" height="80">
          <h1 class="h3 mb-3 fw-normal ">Login</h1>
        </div>

        <div class="form-group">
          <label for="inputDni" class="visually-hidden">RUT</label>
          <input type="text" id="inputDni" class="form-control" placeholder="12.345.678-9" required autofocus
                 appDniFormat autocapitalize="off" spellcheck="false" maxlength="12" formControlName="dni">

          <div class="alert alert-dismissible alert-danger m-2" *ngIf="dniMessageError">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Error:</strong> {{dniMessageError}}
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword" class="visually-hidden">Password</label>
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" required
                 formControlName="password">
        </div>
        <div class="form-group">
          <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="!authForm.valid" *ngIf="!isLoading">Login</button>
          <button class="w-100 btn btn-lg btn-primary" type="button" disabled *ngIf="isLoading">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
          </button>
        </div>

        <div class="m-2">
          <a routerLink="/auth/register">Registrar un nuevo usuario</a>
        </div>
        <p class="mt-5 mb-3 text-muted text-center">{{date | date : 'fullDate'}}</p>
      </form>
    </div>
  </div>
</div>
