<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
  <a class="navbar-brand">Mini Banco</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
          aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="home">
          <i class="fa fa-home pr-2"></i>Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"  routerLink="transfer">
          <i class="fa fa-exchange pr-2"></i>Transferencias</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
           aria-expanded="false" >{{user?.email}}</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="profile">Perfil</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="onLogout()">Cerrar sesión</a>
        </div>
      </li>
    </ul>
  </div>
  </div>
</nav>
