<div class="row">
  <div class="col-md-12">
    <div class="card border-primary mb-3">
      <div class="card-header">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" [href]="'#principalAccount'">Cuenta Principal</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade active show" id="principalAccount">
            <h4>Saldo Actual: {{account?.balance | currency}}</h4>
          </div>
        </div>
        <div class="row">
          <div class="ml-auto">
            <button type="button" class="btn btn-primary m-1" (click)="removeBalances()">Sacar Fondos</button>
            <button type="button" class="btn btn-primary m-1" (click)="addBalances()">Añadir Fondos</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="card border-primary mb-3">
      <div class="card-header">
        <h5>Historial</h5>
      </div>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Monto Actual</th>
            <th scope="col">Monto Anterior</th>
            <th scope="col">Monto Modificado</th>
            <th scope="col">Typo de Operacion</th>
            <th scope="col">Opciones</th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let history of histories">
            <th scope="row">{{history.createdAt | date : 'medium'}}</th>
            <td
              [ngClass]="{
            'tdColorGreen': history.typeOfOperation === 'balance-up',
            'tdColorRed': history.typeOfOperation === 'balance-down',
            'tdColorTransfer': history.typeOfOperation === 'balance-transfer'
            }">{{history.amountBefore | currency}}</td>
            <td
              [ngClass]="{
            'tdColorGreen': history.typeOfOperation === 'balance-up',
            'tdColorRed': history.typeOfOperation === 'balance-down',
            'tdColorTransfer': history.typeOfOperation === 'balance-transfer'
            }">{{history.amountAfter | currency}}</td>
            <td [ngClass]="{
          'tdColorRed': history.typeOfOperation === 'balance-down'
          }" *ngIf="history.typeOfOperation === 'balance-down'">
              - {{ difference(history.amountBefore, history.amountAfter) | currency}}</td>
            <td [ngClass]="{
          'tdColorTransfer': history.typeOfOperation === 'balance-transfer'
          }" *ngIf="history.typeOfOperation === 'balance-transfer'">
              - {{ difference(history.amountBefore, history.amountAfter) | currency}}</td>
            <td [ngClass]="
          {'tdColorGreen': history.typeOfOperation === 'balance-up'
          }" *ngIf="history.typeOfOperation === 'balance-up'">
              + {{ difference(history.amountBefore, history.amountAfter) | currency}}</td>
            <td>{{history.typeOfOperation | balance}}</td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



